#footer
  background: color-footer-background
  padding-left:  40%
  padding-top :35px
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em

.footer-icon
  color: color-white
  font-family: font-icon
  //text-align: center
  font-size: font-icon-size
  width: font-icon-size
  height: font-icon-size
  margin-left 40px
  //padding-left 0px
  position: relative
  cursor: pointer

#footer_git
  &:before
      content: "\f09b"
