<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %>   ^o^  <%= config.author || config.title %><br>
      由 <a href="http://hexo.io/" target="_blank"> Hexo </a>强力驱动~
      |
      主题 <a href="https://github.com/xiangming/landscape-plus" target="_blank">Landscape-plus</a>
    </div>
      <p id="footer_counter"></p>
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.getElementById("footer_counter").innerHTML=unescape("%3Cspan id='cnzz_stat_icon_1257841330'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257841330%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E");
      </script>
  </div>
</footer>